<%= form_with model: @category_name, data: {remote: false}  do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <div class='thread_list_container'>
    <div class='thread_list_container__item'>
      <h2>カテゴリを作成</h2>
      <%= f.text_field :name, placeholder: 'カテゴリー名', class: 'title_submit_area'%>
    </div>
  </div>
  <div class='thread_list_container'>
    <div class='thread_list_container__item text_align_right'>
      <%= f.submit '登録', class: 'submit_button' %> 
    </div>
  </div>
<% end %>