<%= render 'search_form' %>

<%= render 'shared/thread_list_container' %> 

<div class='see_more_container'>
  <div class='see_more_container__item'>
    <%= link_to 'もっと見る', thread_lists_path %>
  </div>
</div>

<div class='category_container'>
  <div class='category_container__category_item'>
    <p class='category_label'>カテゴリ一覧</p>
    
    <% @categories.each do |category| %>
      <p class='category_container__category_item_label'><%= link_to category.name , categories_show_path(id: category.uid) %></p>
    <% end %>
  </div>
</div>