/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .thema_color {
  color: #FEC317;
 }

 .submit_button {
  background-color: #FEC317;
  border-color: #FEC317;
  color: #fff;
  border-radius: 5px;
  font-size: 17px;
 }

 .user_form {
  margin: 0 auto;
  width: 800px;

  #user_email, #user_password, #user_username, #user_password_confirmation {
    width: 60%;
    line-height: 25px;
  }

  .actions {
    width: 60%;
    text-align: right;
    margin-top: 15px;
  }
 }

 #site-header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
  background: #fff;
  box-shadow: 0 0px 1px #333333;

  .site-header-content{
      max-width: 1300px;
      height: 50px;
      margin: 0 auto;
      display: flex; 
     
      .top_link {
        width: 100%;
        text-decoration: none;

        h1 {
          margin: 0px;
          width: 100%;
          height: 50px;
        }
      }

      .header-button {
         width: 800px;
         height: 50px;
         display: flex;
         align-items: center;
         justify-content: flex-end;

         a {
            border: 1px solid #505763;
            border-radius: 5px;
            color: #505763;
            padding: 3px;
            text-decoration: none;
            margin-left: 15px;
         }

         a:hover{
            background: rgba(255, 255, 255, 0.3);
        }
      }
  }
}

#content{
  margin: 0 auto;
  max-width: 1300px;
  //display: flex;
  padding-top: 51px;

  #main{
    width: 1000px;
    padding-left: 30px;
  }

  #side{
    width: 300px;
    border: 1px solid #f3f3f3;
  }

  a {
    text-decoration: none;
  }

  .warning {
    border-color: #DC143C;
    color: #DC143C;
  }

  .non_margin {
    margin: 0;
  }

  .text_align_right {
    text-align: right;
  }

  .width_60 {
    width: 60%;
  }
}

.thread_list_search {
  text-align: center;
  margin: 25px 0 50px;

  .form-control {
    width: 56%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #ddd;
  }
}

.thread_container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

  .thread_container__thread_label {
    width: 60%;

    h2 {
      margin: 0;
    }
  }

  .thread_container__thread_item {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 60%;

    .thread_container__thread_item_username {
      padding: 10px;
      margin: 0;
    }

    .thread_container__thread_item_title {
      font-size: 29px;
      margin: 0;
      padding: 10px;
    }

    .thread_container__thread_item_category {
      text-align: right;
      margin: 0;
      padding: 10px;
    }

    .thread_container__thread_item_date {
      text-align: right;
      margin: 0;
      padding: 0 10px 10px;
    }
  }

  .thread_container__thread_pagenate {
    width: 60%; 
    text-align: right;
  }
}

.error_container {

  .error_container__image_area {
    width: 100%;
    display: flex;
    justify-content: center;

    .apology_image {
      width: 20%;
    }
  }

  .error_container__error_messages {
    text-align: center;

  }
}

@media screen and (max-width: 750px) {
   .site-header {
   
     .site-header-content{
        
         h1 {
           width: 55%;
         }
   
         .header-button {
            width: 45%;
         }
     }
   }
}