<div class='thread_container'>
  <div class='thread_container__thread_label'>
    <h2><%= @category_name.name %>のスレッド一覧</h2>
  </div>
</div>
<%= render 'shared/thread_list_container' %>

<div class='thread_container'>
  <div class='thread_container__thread_pagenate'>
    <%= paginate @thread_lists %>
  </div>
</div>